body{
  max-width: 1200px;
  margin: auto;
}

header{
  display: flex;
  padding: 25px;
  align-items: center;
  border: thin solid orange;
}

h1{
  font-size: x-large;
  margin: 10px;
}

main{
  display: flex;
}

.lefty{

  border: thin solid green;
  height: 100%;
}

.center{
  display: flex;
  flex-direction: column;
}

#img-display{
  display: flex;
  justify-content: space-evenly;
  border: thin solid red;
}

img{
  max-width: 300px;
  margin: 5px;
}

.spacer{
  border: thin solid aqua;
}

.lorem{
  border: thin solid chartreuse;
}
footer{
  border: thin solid blue;
}