body{
  max-width: 1200px;
  margin: auto;
}

header{
  display: flex;
  padding: 25px;
  align-items: center;
  border: thin solid orange;
}

h1{
  font-size: x-large;
  margin: 10px;
}

main{
  display: flex;
  flex-direction: column;
}

#results{
  border: thin solid green;
}

ul{
  list-style: circle;
  border: thin solid black;
}


#img-display{
  display: flex;
  justify-content: space-evenly;
  max-height: 300px;
  border: thin solid red;
}

img{
  border-radius: 20%;
  border: thick double pink;
  height: auto;
  max-width: 30%;
  margin: 5px;
}

.spacer{
  height: 5vw;
  border: thin solid aqua;
}
#chart-area{
  margin: auto;
  max-height: 600px;
  max-width: 80%;
}

.lorem{
  border: thin solid chartreuse;
}
footer{
  border: thin solid blue;
  align-self:flex-end;
}